<% content_for :title, @request.query %>


<h1><%= @request.query %></h1>


<p>
  From <%= @request.start_date %> to <%= @request.end_date %>
</p>

<!-- 
<p>
  <strong>Status:</strong>
  <%= @request.status_s %>
</p>
-->

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>


<%= render partial: 'requests/result-graph', locals: {request: @request} %>
<%= render partial: 'requests/result-list', locals: {request: @request} %>